src/classwork/21.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
 
<xs:complexType name="student">
    <xs:all>
   
    <xs:element name="firstName" type="xs:string"/>
    <xs:element name="lastName" type="xs:string"/>
    <xs:element name="age" type="xs:string"/>
    <xs:element name="faculty" type="xs:string"/>
   
   
   
    </xs:all>
 
</xs:complexType>   
</xs:schema>