src/classwork/ClassWork19.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
 <xs:element name="studentList">
<xs:complexType>
<xs:sequence>
<xs:element name="student" maxOccurs="20">
<xs:complexType>
    <xs:sequence>
   
    <xs:element name="firstName" type="xs:string"/>
    <xs:element name="lastName" type="xs:string"/>
    <xs:element name="age" type="xs:string"/>
    
    <xs:element name="faculty" type="xs:string"/>
   
   
   
</xs:sequence>
</xs:complexType>
</xs:element> 
</xs:sequence>
</xs:complexType>
</xs:element> 
</xs:schema>